<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper">
    <div class="login-register" style="background-image:url(../../../assets/images/background/login-register.jpg);">
        <div class="login-box card bg-dark rounded shadow">

            <div class="card-body opacity-1">

                <form class="form-horizontal form-material" id="loginform" autocomplete="off" [formGroup]="loginForm" (ngSubmit)="login()">
                    <h3 class="box-title text-white m-b-20">Iniciar Session</h3>
                    <div class="form-group has-danger">
                        <div class="col-xs-12">
                            <input class="form-control text-white" formControlName="usuario" type="text" required="" placeholder="Usuario">
                            <div *ngIf="validate('usuario')" class="form-control-feedback">
                                <small> El usuario es obligatorio </small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-danger">
                        <div class="col-xs-12">
                            <input class="form-control text-white" formControlName="password" type="password" required="" placeholder="Password">
                            <div *ngIf="validate('password')" class="form-control-feedback">
                                <small>El password es obligatorio</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="checkbox checkbox-info pull-left p-t-0">
                                <input id="checkbox-signup" formControlName="remember" type="checkbox" class="filled-in chk-col-light-blue">
                                <label for="checkbox-signup"> Recordarme </label>
                            </div>

                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-xs-12 p-b-20">
                            <button class="btn btn-block btn-lg btn-info btn-rounded" type="submit">Ingesar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->