<div class="card">
    <div class="card-body">

        <div class="">
            <div class="right-page-header">
                <div class="d-flex">
                    <div class="align-self-center">
                        <h4 class="card-title m-t-10">Subscriber List </h4>
                    </div>
                    <div class="ml-auto">
                        <input #query (keyup)="search(query.value)" type="text" id="demo-input-search2" placeholder="search subscriber" class="form-control"> </div>
                </div>
            </div>
            <div class="table-responsive">
                <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list footable-loaded footable" data-page-size="10">
                    <thead>
                        <tr>
                            <th class="footable-sortable">Name<span class="footable-sort-indicator"></span></th>
                            <th class="footable-sortable">Email<span class="footable-sort-indicator"></span></th>
                            <th class="footable-sortable">Server<span class="footable-sort-indicator"></span></th>
                            <th class="footable-sortable">Status<span class="footable-sort-indicator"></span></th>
                            <th class="footable-sortable">Expire<span class="footable-sort-indicator"></span></th>
                            <th class="footable-sortable">Action<span class="footable-sort-indicator"></span></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngIf="subscriptions.length === 0">
                            <td colspan="5" class="text-center">No results found...</td>
                        </tr>

                        <tr class="footable-even" *ngFor="let subscriber of subscriptions">
                            <td>
                                {{ subscriber.name }}
                            </td>
                            <td> {{ subscriber.email }} </td>
                            <td>
                                {{ subscriber.server!.name }}
                            </td>
                            <td>
                                <span *ngIf="subscriber.status" class="label label-success">Enabled</span>
                                <span *ngIf="!subscriber.status" class="label label-danger">Disabled</span>
                            </td>
                            <td>
                                <a (click)="subscriberSelect = subscriber" class="text-decoration-none pointer" data-toggle="modal" data-target="#change-expire">
                                    <small>
                                        {{ subscriber.expiration | date:'medium' }}
                                    </small>
                                </a>
                            </td>
                            <td>
                                <button (click)="subscriberSelect = subscriber" type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="modal" data-target="#add-pay">
                                    <i class="ti-receipt h5" aria-hidden="true"></i>
                                </button>
                                <button (click)="delete(subscriber.subid!)" type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn">
                                    <i class="ti-close h5" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <!-- .left-aside-column-->
        </div>

    </div>
</div>

<!-- ========================================================= 
MODAL ADD PAY
======================================================== -->
<div id="add-pay" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabelPayments" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabelPayments">Add Payment</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

                <form class="form-horizontal form-material" autocomplete="off" [formGroup]="addPaymentForm" (ngSubmit)="addPayment()">

                    <div class="form-group has-danger">
                        <div class="col-md-12 m-b-20">
                            <input formControlName="description" type="text" class="form-control" placeholder="description">
                            <div *ngIf="validate('description')" class="form-control-feedback">
                                <small> Description is required </small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group has-danger">
                        <div class="col-md-12 m-b-20">
                            <input formControlName="method" type="text" class="form-control" placeholder="method">
                            <div *ngIf="validate('method')" class="form-control-feedback">
                                <small> Method is required </small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group has-danger">
                        <div class="col-md-12 m-b-20">
                            <input formControlName="amount" type="number" min="0" class="form-control" placeholder="Amount">
                            <div *ngIf="validate('amount')" class="form-control-feedback">
                                <small> Amount is required </small>
                            </div>
                        </div>
                    </div>

                    <button type="submit" [disabled]="formSubmittedPay" class="btn btn-info waves-effect btn-block">                        
                        <span *ngIf="!formSubmittedPay" >Save</span>
                        <span *ngIf="formSubmittedPay" >Saving</span>
                    </button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- ========================================================= 
MODAL CHANGE DATE EXPIRE
======================================================== -->
<div id="change-expire" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabelChangeExpire" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabelChangeExpire">Change expiration date</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

                <div class="card bg-info" *ngIf="subscriberSelect">
                    <div class="card-body">
                        <div class="d-flex no-block">
                            <div class="m-r-20 align-self-center">
                                <span class="display-4 fw-normal text-white">
                                    <i class="icon-user"></i>
                                </span>
                            </div>
                            <div class="align-self-center">
                                <h2 class="text-white mb-0">{{ subscriberSelect.name }}</h2>
                                <h6 *ngIf="subscriberSelect.email" class="text-white"> <i class="ti-email"></i> {{ subscriberSelect.email }}</h6>
                                <h6 class="text-white mt-2"> Expires: {{ subscriberSelect.expiration | date:'medium' }}</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <div class="col-md-12 m-b-20">
                        <input autocomplete="off" type="datetime-local" class="form-control" placeholder="New date" #newExpire>
                        <div class="form-control-feedback">
                            <small> Date is required </small>
                        </div>
                    </div>
                </div>

                <button (click)="changeExpiration(newExpire.value)" type="submit" [disabled]="formSubmittedPay" class="btn btn-info waves-effect btn-block">                        
                    <span *ngIf="!formSubmittedPay" >Save</span>
                    <span *ngIf="formSubmittedPay" >Saving</span>
                </button>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>