<div class="row">
    <div class="col-12">

        <swiper [config]="config">

            <ng-template swiperSlide *ngFor="let serve of servers">
                <div class="card pointer" (click)="selectServer(serve)">
                    <div class="box text-center" [ngClass]="{'bg-success': serve === server, 'bg-info': serve !== server}">
                        <h1 class="font-light text-white"> {{ serve.name }} </h1>
                        <h6 class="text-white"> <small> {{ server.url }} </small> </h6>
                    </div>
                </div>
            </ng-template>

        </swiper>


        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Users List of Emby</h4>
                <h6 class="card-subtitle"></h6>
                <div class="d-flex justify-content-end ">
                    <button type="button" class="btn btn-info btn-rounded ml-auto" data-toggle="modal" data-target="#add-user">New User</button>
                </div>

                <div class="table-responsive">
                    <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="10">
                        <thead>

                            <!-- usuario name role address img valid status fecha -->
                            <tr>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Enable/Disable</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngIf="users.length === 0">
                                <td colspan="3">
                                    <h3 class="mb-0">Empty user list...</h3>
                                </td>
                            </tr>

                            <tr *ngFor="let user of users">
                                <td>
                                    <a>
                                        {{ user.Name }} 
                                    </a>
                                </td>

                                <td>
                                    <span *ngIf="user.Policy.IsDisabled === false" class="label label-success">Enable</span>
                                    <span *ngIf="user.Policy.IsDisabled" class="label label-danger">Disable</span>
                                </td>
                                <td>
                                    <button (click)="desactive(user.Id, user.Policy.IsDisabled, user.Policy.IsAdministrator)" type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn">
                                        <i *ngIf="user.Policy.IsDisabled === false" class="ti-close" aria-hidden="true"></i>
                                        <i *ngIf="user.Policy.IsDisabled" class="ti-check" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ========================================================= 
MODAL NEW USER
======================================================== -->
<div id="add-user" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" #modalNewUser>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">New User</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal form-material" autocomplete="off" [formGroup]="formNewUser" (ngSubmit)="createUser()">

                    <div class="form-group has-danger">

                        <div class="col-md-12 m-b-20">
                            <input formControlName="Name" type="text" class="form-control" placeholder="name">
                            <div *ngIf="validate('Name')" class="form-control-feedback">
                                <small> Los nombres son obligatorios </small>
                            </div>
                        </div>
                    </div>

                    <div class="m-b-20">
                        <div class="switch" formGroupName="Policy">
                            <label>
                                <input formControlName="IsAdministrator" type="checkbox"><span class="lever"></span> Allow this user to manage the server
                            </label>
                        </div>
                    </div>

                    <button type="submit" [disabled]="formSubmitted" class="btn btn-info waves-effect btn-block">                        
                        <span *ngIf="!formSubmitted" >Save</span>
                        <span *ngIf="formSubmitted" >Saving</span>
                    </button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>