<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">

                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <img [src]="user.getImage" alt="user" />
                        <span class="hide-menu"> {{ user.name }} </span>
                    </a>

                    <ul aria-expanded="false" class="collapse">
                        <li><a [routerLink]="['/dashboard/profile', user.uid]">My profile </a></li>
                    </ul>

                </li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap">Menu</li>

                <li routerLinkActive="active">
                    <a class="waves-effect waves-dark" [routerLink]="['/dashboard/home']">
                        <i class="mdi mdi mdi-gauge"></i>
                        <span class="hide-menu">Dashboard</span>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a class="waves-effect waves-dark" [routerLink]="['/dashboard/subscriptions']">
                        <i class="mdi mdi-account"></i>
                        <span class="hide-menu">Subscribers</span>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a class="waves-effect waves-dark" [routerLink]="['/dashboard/emby-users']">
                        <i class="mdi mdi-account-box-outline"></i>
                        <span class="hide-menu">Users</span>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a class="waves-effect waves-dark" [routerLink]="['/dashboard/emby-servers']">
                        <i class="mdi mdi-database"></i>
                        <span class="hide-menu">Servers</span>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a class="waves-effect waves-dark" [routerLink]="['/dashboard/payments']">
                        <i class="mdi mdi-credit-card-multiple"></i>
                        <span class="hide-menu">Payments</span>
                    </a>
                </li>

                <!--  -->

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>