<div class="card mb-2">
    <div class="card-body">
        <div class="form-group row mb-0 d-flex justify-content-center">
            <label for="example-search-input" class="col-auto col-form-label">Search Subscriber </label>
            <div class="col-8">
                <input class="form-control" type="search" placeholder="name or email" (keyup)="search(query.value)" #query>

                <div *ngIf="subscriptions.length > 0" class="list-group " style="z-index: 5; position: absolute;">
                    <a (click)="paymentsSubscriber(subscriber.subid!)" class="list-group-item pointer" *ngFor="let subscriber of subscriptions"> {{ subscriber.name }} <span *ngIf="subscriber.email">- {{ subscriber.email }}</span> </a>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">

        <div class="">
            <div class="">
                <div class="bg-theme stats-bar col-md-4 d-flex flex-wrap align-items-center">
                    <h4 class="mb-0 display-2 text-white mdi mdi-cash-multiple"></h4>
                    <div class="">
                        <div class="p-20 active">
                            <h6 class="text-white h5">Total</h6>
                            <h3 class="text-white m-b-0 display-6"> {{ total | currency }} </h3>
                        </div>
                    </div>
                </div>

                <div class="d-flex">
                    <div class="align-self-center">
                        <h4 class="card-title m-t-10">Payments List
                            <a class="pointer text-primary" (click)="loadPayments()"> <i class="mdi mdi-autorenew"></i> </a>
                        </h4>
                    </div>
                    <div class="ml-auto">
                        <!-- <input #query (keyup)="search(query.value)" type="text" id="demo-input-search2" placeholder="search payment" class="form-control"> </div> -->
                    </div>
                </div>

                <div class="d-flex justify-content-end align-self-center">
                    <div class="form-group mb-0 row">
                        <label for="example-text-input" class="col-auto col-form-label">Init</label>
                        <div class="col-8">
                            <input class="form-control" type="datetime-local" #init>
                        </div>
                    </div>
                    <div class="form-group mb-0 row">
                        <label for="example-text-input" class="col-auto col-form-label">End</label>
                        <div class="col-8">
                            <input class="form-control" type="datetime-local" #end>
                        </div>
                    </div>

                    <button (click)="paymentsDate(init.value, end.value)" type="button" class="btn btn-primary btn-sm">Search</button>

                </div>

                <div class="table-responsive">
                    <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list footable-loaded footable" data-page-size="10">
                        <thead>
                            <tr>
                                <th class="footable-sortable">Name<span class="footable-sort-indicator"></span></th>
                                <th class="footable-sortable">Email<span class="footable-sort-indicator"></span></th>
                                <th class="footable-sortable">Description<span class="footable-sort-indicator"></span></th>
                                <th class="footable-sortable">Method<span class="footable-sort-indicator"></span></th>
                                <th class="footable-sortable">Amount<span class="footable-sort-indicator"></span></th>
                                <th class="footable-sortable">Date<span class="footable-sort-indicator"></span></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngIf="payments.length === 0">
                                <td colspan="6" class="text-center">No results found...</td>
                            </tr>

                            <tr class="footable-even" *ngFor="let payment of payments">
                                <td>
                                    <span *ngIf="payment.subid">
                                        {{ payment.subid.name }}
                                    </span>
                                    <span *ngIf="!payment.subid" class="text-danger">
                                        Deleted subscriber
                                    </span>

                                </td>
                                <td>
                                    <span *ngIf="payment.subid">
                                        {{ payment.subid.email }}
                                    </span>
                                </td>
                                <td>
                                    {{ payment.description }}
                                </td>
                                <td>
                                    {{ payment.method }}
                                </td>
                                <td>
                                    {{ payment.amount | currency }}
                                </td>
                                <td>
                                    {{ payment.fecha | date: 'medium' }}
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div class="d-flex justify-content-center">
                    <button (click)="loadMore(20)" type="button" name="" id="" class="btn btn-sm btn-secondary">
                        Load More...
                    </button>
                </div>
                <!-- .left-aside-column-->
            </div>

        </div>
    </div>
</div>