<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/income.png" alt="Income"></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Total Income</h6>
                        <h2 class="m-t-0">953,000</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="m-r-20 align-self-center"><img src="../assets/images/icon/staff.png" alt="Income"></div>
                    <div class="align-self-center">
                        <h6 class="text-muted m-t-10 m-b-0">Total Staff</h6>
                        <h2 class="m-t-0">1</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>