<div class="d-flex flex-wrap gap-3">

    <div class="card bg-info text-white m-2">
        <div class="card-body">
            <div class="d-flex">
                <div class="stats">
                    <h1 class="text-white h2">Emby</h1>
                    <h6 class="text-white">Users</h6>
                    <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14" [routerLink]="['/dashboard/emby-users']">Go...</button>
                </div>
                <div class="stats-icon text-right ml-auto">
                    <i class="fa fa-users display-5 op-3 text-dark"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="card bg-primary text-white m-2">
        <div class="card-body">
            <div class="d-flex">
                <div class="stats">
                    <h1 class="text-white h2">Emby</h1>
                    <h6 class="text-white">Servers</h6>
                    <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14" [routerLink]="['/dashboard/emby-servers']">Go...</button>
                </div>
                <div class="stats-icon text-right ml-auto">
                    <i class="fa fa-hdd-o display-5 op-3 text-dark"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="card bg-success text-white m-2">
        <div class="card-body">
            <div class="d-flex">
                <div class="stats">
                    <h1 class="text-white h2">Payments</h1>
                    <h6 class="text-white">History</h6>
                    <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14" [routerLink]="['/dashboard/payments']">Go...</button>
                </div>
                <div class="stats-icon text-right ml-auto">
                    <i class="fa fa-money display-5 op-3 text-dark"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="card bg-secondary text-white m-2">
        <div class="card-body">
            <div class="d-flex">
                <div class="stats">
                    <h1 class="text-white h2">Subscribers</h1>
                    <h6 class="text-white">List</h6>
                    <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14" [routerLink]="['/dashboard/subscriptions']">Go...</button>
                </div>
                <div class="stats-icon text-right ml-auto">
                    <i class="fa fa-address-book-o display-5 op-3 text-dark"></i>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="card mt-4">

    <div class="card-body">

        <div class="d-flex">
            <div class="align-self-center">
                <h4 class="card-title m-t-10">Last {{ payments.length }} payments...</h4>
            </div>
            <div class="ml-auto">
                <!-- <input #query (keyup)="search(query.value)" type="text" id="demo-input-search2" placeholder="search payment" class="form-control"> </div> -->
            </div>
        </div>

        <div class="table-responsive">
            <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list footable-loaded footable" data-page-size="10">
                <thead>
                    <tr>
                        <th class="footable-sortable">Name<span class="footable-sort-indicator"></span></th>
                        <th class="footable-sortable">Email<span class="footable-sort-indicator"></span></th>
                        <th class="footable-sortable">Description<span class="footable-sort-indicator"></span></th>
                        <th class="footable-sortable">Method<span class="footable-sort-indicator"></span></th>
                        <th class="footable-sortable">Amount<span class="footable-sort-indicator"></span></th>
                        <th class="footable-sortable">Date<span class="footable-sort-indicator"></span></th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngIf="payments.length === 0">
                        <td colspan="6" class="text-center">No results found...</td>
                    </tr>

                    <tr class="footable-even" *ngFor="let payment of payments">
                        <td>
                            <span *ngIf="payment.subid">
                                {{ payment.subid.name }}
                            </span>
                            <span *ngIf="!payment.subid" class="text-danger">
                                Deleted subscriber
                            </span>
                        </td>
                        <td>
                            <span *ngIf="payment.subid">
                                {{ payment.subid.email }}
                            </span> </td>
                        <td>
                            {{ payment.description }}
                        </td>
                        <td>
                            {{ payment.method }}
                        </td>
                        <td>
                            {{ payment.amount | currency }}
                        </td>
                        <td>
                            {{ payment.fecha | date: 'medium' }}
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>

</div>